#root {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #c2c2d6;
}

@font-face {
  font-family: "digital-7";
  src: url("https://www.1001fonts.com/download/font/digital-7.regular.ttf");
}

.calculator {
  margin: 0 auto;
  width: 375px;
}

.author {
  text-align: center;
  margin-top: 15px;
  font-size: 1.1rem;
}

#formula-screen,
#display {
  text-align: right;
  min-height: 50px;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.6rem;
  font-family: Orbitron;
  padding: 5px 10px 0 0;
  overflow-wrap: break-word;
}
#formula-screen {
  color: #fb9717;
  letter-spacing: 0.1rem;
}

/** GRID **/
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 400px;
}

.buttons button {
  color: white;
  background-color: #4d4d4d;
  font-size: 1.1rem;
  border: 1px solid black;
}

.buttons button:hover {
  border: 1px solid grey;
}

.buttons button:active {
  border: 1px solid rgb(51, 51, 51);
}

.buttons #divide,
#multiply,
#subtract,
#add {
  background-color: #fb9717;
}

.buttons #equals {
  background-color: #004466;
}

#clear {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #ac3939;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

#equals {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}
