#root {
  height: 100vh;
}

.calculator {
  margin: 0 auto;
  width: 600px;
}

.author {
  text-align: center;
}

#formula-screen,
#display {
  text-align: right;
}

/** GRID **/
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#clear {
  grid-column-start: 1;
  grid-column-end: 3;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

#equals {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}
